*{
    padding: 0;
    margin:0;
}
.header{
    background-image: url(https://pkmacbook.com/wp-content/uploads/2021/07/hinh-nen-powerpoint-mau-xanh-duong-nhat_012323872.jpg);
    background-size: cover;
    position: fixed;
    width: 100%;
  
}
.header-img{
    text-align: center;
    padding: 40px 60px 70px 60px;
    width: 1000px; 
    margin-left: 200px;
}

.nav{
    margin: 0px;
    background-color: white;
    height: 60px;
    line-height: 60px;
    width: 100%;
    display: flex;
    position: absolute;
   
    
}
.nav li{
    display: inline-block;
    list-style-type: none;  
    width: 14,28%;
    padding: 0 30px;
    
}
.nav li a{
    padding: 0 40px;
    color: #c19e68;
    text-decoration: none;
    margin-top: 100px;
    
}
.logo img{
    width: 100px;
    margin-left: 20px;
}
.nav li:hover{
    border-bottom: aqua solid 3px ;
    cursor: progress;
}

.nav li .sup-tintuc .content-tintuc{
    display: block;
    display: none;
    padding-left: 35px;
}
.nav li:hover .content-tintuc{
    display: block;
    background: black;
    opacity: 0.75;
    color: #c19e68;
    cursor: pointer;
}
.li-logo{
    width: 50px;
}




